html { 
  background: url("./chuck-norris-background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  color: darkred;
  animation-name: titleAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes titleAnimation {
  0%   {color:darkred;}
  25%  {color:yellow;}
  50%  {color:blue;}
  75%  {color:rgb(8, 245, 8);}
  100% {color:darkred;}
}

button {
  margin-top: 20px;
  margin-left: 75px;
  border-radius: 5px;
  background-color: darkred;
}

@media only screen and (max-width: 600px) {
  button {
      display: block;
      margin: 0 auto;
      margin-top: 25px;
  }
}
